<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="nl.melledijkstra.musicplayerclient">

    <!-- Ask for INTERNET permission so that we can connect to python socket server -->
    <uses-permission android:name="android.permission.INTERNET" />

    <application android:name=".App"
        android:allowBackup="true"
        android:fullBackupContent="true"
        android:icon="@mipmap/app_logo"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">

        <!-- Connect Activity when app starts -->
        <activity android:name=".UI.ConnectActivity"
            android:label="@string/app_name"
            android:screenOrientation="portrait"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".UI.MainActivity"
            android:screenOrientation="portrait">

            <!--
            SplashActivity is the Launch activity now
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            -->
        </activity>
        <activity android:name=".UI.SettingsActivity"
            android:label="@string/settings_activity_title"
            android:theme="@style/AppTheme.WithActionBar" />
        <service android:name=".ConnectionService" />

    </application>

</manifest>